.App {
  text-align: center;
}

.card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  padding: 25px;
}

.gridText {
  float: left;
}

.cardTitle {
  text-align: left;
  position: relative;
  left: 9%;
}

.cardMedia {
  width: 120px;
  height: 120px;
}

.ddlcls {
  width: 100%;
  height: 40px;
  border-radius: 20px !important;
}

.cardDescription {
  text-align: left;
  float: left;
  position: relative;
  top: 2%;
  left: 9%;
}

.gridLable {
  float: left;
  width: 40%;
  text-align: left;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.gridDrop {
  float: right;
  width: 60%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.spnPrice {
  float: right;
}

.clsGridPrice {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .04em;
  color: rgba(0, 0, 0, 0.6);
}

.dropDownGrid {
  position: relative;
  left: 34px;
}

.btnCart {
  position: relative;
  top: 67px;
  left: 172px;
}

.btnRemove {
  float: left;
  top: 13px;
  left: 10px;
  text-decoration: underline !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.sizeGrid {
  position: relative;
  height: 30%;
}

.spnTotalCart {
  text-align: left;
  margin-left: 10%;
  margin-top: 2%;
  font-size: larger;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.6);

}

.cartContainer {
  margin: 2% 10% 5% 10%;
  padding: 25px;
}
